.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-around; 
    width:100% !important;
  }
  

  .card {
    border-radius: 15px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    margin: 20px !important;
    padding: 20px !important;
    width: 90% !important; 
    
  }
  
  
  .card-title {
    font-family: 'Arial', sans-serif !important;
    color: #333 !important;
    font-weight: bold !important;
  }
  
  .card-text {
    font-size: 14px !important;
    color: #666 !important;
    line-height: 1.6 !important;
  }
  
  .btn-primary {
    background-color: #007bff !important;
    color: #fff !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    text-align: center !important;
  }
  .btn-primary:hover {
    background-color: #0056b3 !important;
  }
  
  .col-7 {
    width: 70% !important;
  }
  @media (max-width: 768px) {
    .card-container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .card {
      width: 100% !important;
      margin: 10px 0 !important; 
    }
  
    .col-7 {
      width: 100% !important;
    }
  }
  